html, body {
    font-family: Lato, sans-serif;
    color: #424551;
    line-height: 160%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.conteiner {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    display: inline-block;
    font-weight: 700px;
    letter-spacing: 0.5px;
    line-height: 52px;
    color: #FFFFFF;
    padding: 0px 40px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    white-space: nowrap;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.08);
}

.button-empty {
    background-image: none;
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button-empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading {
    color: #1E212C;
}

.heading__subtitle {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

/*-----------------------------------*/

.header {
    font-weight: 700;
    background: url("../images/decor/shapes-bg.svg") 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0px;
}

.header__nav-link {
    line-height: 160%;
    white-space: nowrap;
    transition: all 0.3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user {
    position: relative;
    padding-left: 28px;
    line-height: 1.6;
}

.header__user::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/icons/user-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    transition: all 0.3s;
}

.header__user-btn:hover {
    color: #FF3F3A;
}

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__body-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin: auto 0;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg {
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.header__play svg:hover {
    margin-right: 16px;
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {
    display: flex;
}

.header__content-btn:first-child {
    margin-right: 24px;
}

.header__body-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__body-row>span {
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    border-radius: 50%;
    margin: 0 15px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    vertical-align: middle;
    margin-right: 12px;
}

.about {
    padding: 180px 0 160px 0;

}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}

.about__createx::before {
    content: "";
    position: absolute;
    top: -80px;
    right: -140px;
    background: url("../images/decor/1.svg");
    width: 100px;
    height: 85px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: 30px;
}

.about__heading {
    margin-bottom: 48px;
}

.about__text {
    font-weight: 400;
    margin-bottom: 60px;
}

.about__text--bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    color: #1E212C;
}

.about__btn-box {
    display: flex;
}

.about__btn {
    margin-right: 24px;
}

.about__btn:first-child {
    margin-right: 24px;
}

.about__values {
    display: flex;
    justify-content: space-between;
}

.about__image-box {
    border-radius: 4px;
    overflow: hidden;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-bottom: 20px;
    margin-left: 30px;
    align-self: center;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about__number span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-right: 16px;
    letter-spacing: 1px;
    color: #FF3F3A;
}

.directions {}

.directions__inner {}

.directions__heading {
    margin-bottom: 90px;
}

.heading {}

.heading__subtitle {}

.heading__title {}

.directions__body {}

.directions__filter-box {
    display: flex;
    margin-bottom: 56px;
}

.directions__filter-item {
    margin-right: 45px;
    margin-bottom: 15px;
}

.directions__filter-item:last-child {
    margin-right: 0px;
}

.directions__filter-btn {
    color: #9A9CA5;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    font-weight: 700;
    padding: 5px 8px;
    background-color: transparent;
    line-height: 1;
    font-size: 16px;
    display: block;
}

.directions__filter-btn--active {
    color: #FFFFFF;
    border: none;
    padding: 6px 8px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}

.directions__list-item {}

.directions__list-item--empty {
    background: #F4F5F7;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.directions__list-item--empty span {
    max-width: 240px;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: #03CEA4;
}

.directions__list-item--management .directions__link-tag {
    background-color: #5A87FC;
}

.directions__list-item--hr .directions__link-tag {
    background-color: #F89828;
}

.directions__list-item--design .directions__link-tag {
    background-color: #F52F6E;
}

.directions__list-item--development .directions__link-tag {
    background-color: #7772F1;
}

.directions__list-link {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1s;
}

.directions__list-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
    color: #FF3F3A;
    transition: all .3s;
}

.directions__image-box img {
    width: 100%;
    height: 100%;
}

.directions__link-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E8ED;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.directions__link-tag {
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background-color: #999;
    padding: 6px 8px;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.directions__link-text {
    color: #787A80;
    margin-bottom: 20px;
}

.directions__link-btn {
    color: #1E212C;
    display: flex;
    font-weight: 700;
    transition: all 1s;
}

.directions__link-btn::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/icons/arrow-right-red.svg") 0 2px / 100% no-repeat;
    margin-left: 11px;
}